.profile-image-container {
  padding-top: 40px;
}

.assignments-card {
  overflow: hidden;
  box-shadow: 2px 2px 10px #DCDCDC;
}

.card-img-bottom {
  max-height: 224px;
  object-fit: cover;
}

.profil-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  background-color: #ECEFF1;
  color: white;
}
