.footer {
  background-color: #E3A508;
  padding: 24px;
  background-image: linear-gradient(to right, #5c5757 , black);
}

.Footer-text {
  align-items: center;
  text-align: center;
  color: white;
}

.Footer-text a {
  color: white;
  font-size: 14.5px;
}

.Footer-text a:hover {
  color: #21e6c1;
}
