@import "~bootstrap/scss/bootstrap";
@font-face {
    font-family: bigJohn;
    src: url("/fonts/BIG JOHN.otf") format("opentype");
}

@font-face {
  font-family: avenirLight;
  src: url("/fonts/Avenir-Light.ttf");
}


html {
  margin: 0;
  height: 100%;
  border-bottom-right-radius: pink;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  margin: 0;
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.image {
  display: flex;
  justify-content: flex-start;
  width: 228px;
  height: 228px;
  background-color: #41a7b3;
  box-shadow: 1px 1px	#989898;
}

.item-image {
  padding: 40px;
}

.App__main-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: row;
}

.button {
  border-radius: 100px;
  height: 30px;
  font-size: 24px;
}

.button:hover {
  background-color: darkred;
}

.presentation {
  font-size: 18px;
}

.Tech {
  font-size: 18px;
  background-color: pink;
  color: blue;
}

.tech-container {
  background-color: pink;
  max-width: 300px;
}

.name {
  font-size: 50px;
}

.portfolio-btn {
  color: black;
  border-radius: 50px !important;
  padding: 14px 32px !important;
  font-family: bigJohn !important;
  box-shadow: 0.5px 0.5px 0.5px grey;
  background-color: #1DE9B6;
}

.portfolio-btn:hover {
  background-color: #00BFA5;
  color: black;
}

.portfolio-heading {
  font-family: bigJohn !important;
}

.portfolio-text {
  font-family: avenirLight !important;
}
